<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eventb.ui.editorItems">
      <choiceAttribute
            class="eventb_agent_ui.example.ProbabilisticAttributeManipulation"
            expandsHorizontally="false"
            id="EventB_Agent_UI.probabilistic"
            required="true"
            typeId="EventB_Agent_Core.probabilistic">
      </choiceAttribute>
      <attributeRelation
            elementTypeId="org.eventb.core.event">
         <attributeReference
               descriptionId="EventB_Agent_UI.probabilistic">
         </attributeReference>
      </attributeRelation>
      <element
            defaultColumn="0"
            imagePath="icons/sample.gif"
            prefix="BOUND"
            typeId="EventB_Agent_Core.bound">
      </element>
      <childRelation
            parentTypeId="org.eventb.core.machineFile">
         <childType
               priority="65"
               typeId="EventB_Agent_Core.bound">
         </childType>
      </childRelation>
      <attributeRelation
            elementTypeId="EventB_Agent_Core.bound">
         <attributeReference
               descriptionId="org.eventb.ui.expression">
         </attributeReference>
         <attributeReference
               descriptionId="org.eventb.ui.comment">
         </attributeReference>
      </attributeRelation>
   </extension>

</plugin>
