<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eventb_agent_ui.EventBAgentPerspective"
            icon="icons/bot.png"
            id="EventB_Agent_UI.perspective"
            name="Event-B Agent">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="EventB_Agent_UI.perspective">
         <view
               id="org.eventb.ui.symboltable.view"
               minimized="false"
               ratio="0.7"
               relationship="right"
               relative="org.eventb.ui.views.RodinProblemView">
         </view>
         <viewShortcut
               id="org.eventb.ui.symboltable.view">
         </viewShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
