<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eventb_agent_ui.EventBAgentPerspective"
            icon="icons/bot.png"
            id="EventB_Agent_UI.perspective"
            name="Event-B Agent">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="EventB_Agent_UI.perspective">
         <view
               id="org.eventb.ui.symboltable.view"
               minimized="false"
               ratio="0.7"
               relationship="right"
               relative="org.eventb.ui.views.RodinProblemView">
         </view>
         <viewShortcut
               id="org.eventb.ui.symboltable.view">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:fr.systerel.explorer.navigator.view?after=additions">
         <command
               commandId="EventB_Agent_UI.commands.createMachine"
               label="Create Event-B Machine"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="EventB_Agent_UI.commands.createMachine"
            name="Create Event-B Machine">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eventb_agent_ui.handlers.CreateMachineHandler"
            commandId="EventB_Agent_UI.commands.createMachine">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="eventb_agent_ui.preference.EventBAgentPreference"
            id="EventB_Agent_UI.preference"
            name="Event-B Agent Preference">
      </page>
   </extension>
</plugin>
