<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.rodinp.core.attributeTypes">
      <attributeType
            id="EventB_Agent_Core.probabilistic"
            kind="boolean"
            name="Event-B Probabilistic Attribute">
      </attributeType>
   </extension>
   <extension
         point="org.rodinp.core.itemRelations">
      <relationship
            parentTypeId="org.eventb.core.event">
         <attributeType
               typeId="EventB_Agent_Core.probabilistic">
         </attributeType>
      </relationship>
      <relationship
            parentTypeId="org.eventb.core.machineFile">
         <childType
               typeId="EventB_Agent_Core.bound">
         </childType>
      </relationship>
   </extension>
   <extension
         point="org.rodinp.core.internalElementTypes">
      <internalElementType
            class="eventb_agent_core.example.Bound"
            id="EventB_Agent_Core.bound"
            name="Event-B Bound Element">
      </internalElementType>
   </extension>
</plugin>
